




<!DOCTYPE HTML>

<html>
	<head>
		<title>privacy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/"></a></h1>
				
			</header>

		 
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/learnmore">About us</a></li>
					<li><a href="">Helpline</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<div id="trial" style="background-image: url('/static/img/banner.jpg');">
			<section id="banner" >
				<i class="icon fa-diamond"></i>
				<h2>Privacy preservation system</h2>
				<p>WELCOME!</p>
				<ul class="actions">
					&nbsp;<li><a href="/domain" class="button big special">Sign In</a></li> &nbsp; &nbsp;
					<li><a href="/signup" class="button big special">Sign Up</a></li> &nbsp; &nbsp; 
					<li><a href="/insurancein_out" class="button big special">Insurance</a></li> &nbsp;
					<!--<li><a href="/medblog" class="button big special">Medical Blog</a></li> &nbsp;&nbsp;
					<li><a href="/organ_donor" class="button big special">Donor Card</a></li> &nbsp; -->
				</ul>
			</section>
		</div>

            <!-- Two PICS -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
				
						<p></p>
					</header>

				</div>
			</section>

		<!-- One NEWS FEED -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="https://www.healthcareitnews.com/sites/hitn/files/SecurityHITN_1.jpg" alt="" height="278" width="494" /></span>
						<div class="content">
							<h2>Healthcare It news.</h2>
							<!-- <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p> -->
							<ul class="actions">
								<li>
									<a href="https://www.healthcareitnews.com/news/taking-cybersecurity-notch-4-steps-shut-down-threats" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="http://www.diabetesforecast.org/2015/may-jun/images/tablet-computer-health-records-May15.jpg" alt="" height="278" width="494" /></span>
						<div class="content">
							<h2>Brainstorm in medical.</h2>
							<!-- <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p> -->
							<ul class="actions">
								<li>
									<a href="https://fortune.com/2019/03/18/healthcare-ehr-brainstorm-health/" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature left">
						<span class="image"><img src="https://www.practicefusion.com/assets/images/pages_wp/Figure-4.2-outpatient-paper-based-patient-encounter-form.png" alt="" height="278" width="494" /></span>
						<div class="content">
							<h2>Go paperless.</h2>
							<!-- <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p> -->
							<ul class="actions">
								<li>
									<a href="https://www.practicefusion.com/health-informatics-practical-guide-page-1/" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkud2SHm2q8bTTKiZLrIVBUw4UCW8_9g-wCe59p6wQHzJgh2gR&s" alt="" height="278" width="494" /></span>
						<div class="content">
							<h2>Patient flexible.</h2>
							<!-- <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p> -->
							<ul class="actions">
								<li>
									<a href="https://khn.org/news/death-by-a-thousand-clicks/" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>


		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/js/main.js"></script>

	</body>
</html>